*.dir
*.bak
*.dat
/.idea
/__pycache__
/U-NET_MagConfElast_trained_backup
*.hdf5
*.h5
*.asv
*.mat
*.txt
*.vocab
*.zip
*.gz
*.tar
*.v2
*.feat
Tutorials/data_word_embeddings
*.pyc
*.tsv
/Cell-Nuclei-Segmentation/data
/Cell-Nuclei-Segmentation/img
/Bogdans-Deep-Learning-Sandbox/KaggleHistopathologyDetection/data
/Cell-Nuclei-Segmentation/UNET/results
*.md
*.jpg
*.png
*.csv
*.tif
/*/data
/*/trained_model
